/* gallerie2-section */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
    font-size: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }

html::-webkit-scrollbar {
    width: .5rem;
   
  }
  
  html::-webkit-scrollbar-track {
    background: transparent;
  }
  
  html::-webkit-scrollbar-thumb {
    background: #3100b8;
    border-radius: 0 10px 10px 0;
  }

.team-section {
    text-align: center;
}

.team-section h1 {
    font-size: 36px;
    padding-bottom: 40px;
    margin-top: 50px;
}

.team-section h1 span {
    color: #c4a8f8;
    
}
.team-section h2 {
  color: white;
}

.team-container1 {
  display: flex;
  justify-content: left;
  width: 100%; /* Ajusté pour s'adapter à l'écran */
  gap: 40px;
  margin: auto;
  flex-wrap: wrap; /* Permet aux cartes de s'enrouler sur plusieurs lignes */
  column-gap: 3px;
  margin-bottom: 40px;
  padding: 10px;
}
/* Animation d'apparition */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); 
    }
    to {
        opacity: 2;
        transform: translateY(10px);
    }
}


.team-card {
  background-color: #3100b8;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: calc(35% - 25px); /* Ajusté pour deux colonnes avec un espacement */
  opacity: 0; /* Commence invisible */
  animation: fadeIn 0.6s forwards; /*Animation d'apparition*/
 
}

.team-card:hover {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    -webkit-transform: translateY(-2rem);
      transform: translateY(-2rem);
      transform: scale(1.05); /* Agrandissement au survol */
        transition: transform 0.3s; /* Transition douce */
        width: calc(35% - 25px);
        /* padding-bottom: 25px; */
}


/* Délai d'animation pour chaque carte */
.team-card:nth-child(1) { animation-delay: 0.1s; }
.team-card:nth-child(2) { animation-delay: 0.2s; }
.team-card:nth-child(3) { animation-delay: 0.3s; }
.team-card:nth-child(4) { animation-delay: 0.4s; }
.team-card:nth-child(5) { animation-delay: 0.5s; }
.team-card:nth-child(6) { animation-delay: 0.6s; }

@-webkit-keyframes fadeIn {
    0% {
      -webkit-transform: translateX(-2rem);
              transform: translateX(-2rem);
      opacity: 0;
    }
  }

.team-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px rgb(255, 255, 255) solid;
    -o-object-fit: cover;
    object-fit: cover;
}

.team-card img:hover {
    width: 150px;
    height: 150px;
    /* border-radius: 50%; */
    margin-bottom: 15px;
    border: 3px rgb(255, 255, 255) solid;
    -o-object-fit: cover;
    object-fit: cover;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.603);
}

.team-card h2 {
    font-size: 18px;
}

.team-card p {
    font-size: 14px;
    color: #c4a8f8;
    padding-bottom: 30px;
    
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.social-icons a {
    color: #ffffff;
    font-size: 18px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #c4a8f8;
    transform: translateY(-5px) scale(1.2);
    /* font-size: 20px; */
}
/* end-gallerie2-section */
